@{
	decimal? gainTotal = (decimal) ViewData["gainTotal"]!;
	List<Tuple<int,string, decimal>> gainparmois = (List<Tuple<int,string, decimal>>)ViewData["gainparmois"]!;
	decimal? chiffreaffaire = (decimal)ViewData["chiffreaffaire"]!;
}
<html>
	<head>
		<title>Chiffre d'affaire</title>
	</head>
	<body>
		<h1>Chiffre d'affaire Mada-Immo</h1>
		@if (chiffreaffaire != null)
		{
			<div>Chiffre d'affaire actuel = @chiffreaffaire Ar</div>
		}
		@if (gainTotal != null)
		{
			<div>Gain Total actuel = @gainTotal Ar</div>
		}
		<form method="post">
			<div>Date debut : <input type="date" name="debut"/></div>
			<div>Date fin : <input type="date" name="fin"/></div>
			<div><input type="submit" value="Valider"/></div>
		</form>
		@if(gainparmois != null)
		{
			<ul>
			@foreach (var t in gainparmois)
			{
				<li>@t.Item2 : @t.Item3 Ar</li>
			}
			</ul>
		}
</body>
</html>