@{
	decimal chiffre = (decimal) ViewData["total"]!;
}
<html>
	<head>
		<title>Chiffre d'affaire</title>
	</head>
	<body>
		@if(chiffre != null)
		{
			<div>Chiffre d'affaire actuel = @chiffre Ar</div>
		}
</body>
</html>