@{
    ViewData["Title"] = "Home Page";
    // IEnumerable<Joueur> liste = (IEnumerable<Joueur>)ViewData["Joueurs"]!;
}

<form method="post" enctype="multipart/form-data" href="/Home/Index">
    <div><input type="file" name="file" /></div>
    <input type="submit" value="Ajouter"/>
</form>